<section class="docs-grid">
  @if (isReady()) {
    @for (doc of docs(); track doc._id) {
      <a class="doc-card" role="article" [href]="doc.web_url" target="_blank">
        <header class="doc-card-header">
          <h3 class="doc-card-title">{{ doc.headline.main }}</h3>
          <img class="doc-card-cover-image" [src]="doc.multimedia | safeImage" alt="">
        </header>
        <div class="doc-card-content">
          <p class="doc-card-description">{{ doc.abstract }}</p>
          <div class="flex justify-between items-center mt-auto">
            <a [href]="doc.web_url" target="_blank" class="read-more-link">Read more</a>
            <span class="words-count">{{ doc.word_count }} words</span>
          </div>
        </div>
      </a>
    } @empty {
      <div class="empty-state">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="lucide lucide-circle-slash empty-state-icon">
          <circle cx="12" cy="12" r="10"/>
          <line x1="9" x2="15" y1="15" y2="9"/>
        </svg>
        <p class="empty-state-message">No articles found</p>
      </div>
    }
  }
</section>
